In [ ]:
import re
import numpy as np
import pandas as pd
from pprint import pprint

# Gensim
import gensim
import gensim.corpora as corpora
from gensim.utils import simple_preprocess
from gensim.models import CoherenceModel

# Plotting tools
import pyLDAvis
import pyLDAvis.gensim  # don't skip this
import matplotlib.pyplot as plt

# spacy for lemmatization
import spacy
import json
import warnings
import networkx as nx

warnings.filterwarnings("ignore",category=DeprecationWarning)

import nltk
#nltk.download('stopwords')
#nltk.download('words')

# NLTK Stop words
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

from nltk.corpus import words
eng_words = words.words('en')

from langdetect import detect
# to enforce consistent results, check github langdetect readme
from langdetect import DetectorFactory
DetectorFactory.seed = 0


import os 

import csv
import logging

In [ ]:
df1 = pd.read_csv('finalCSV/mmSet1_13.csv', nrows = 200000, lineterminator='\n', low_memory=False)
logging.basicConfig(format='%(asctime)s %(message)s', datefmt='%m/%d/%Y %I:%M:%S %p')

In [10]:
df1.head()

,text,id,screen_name,retweet_count,location,created_at
0,i &lt;3 sleep! but now i can't do u.u http://t...,189895762,JessyAlmaguer_,0,NaN,Sun Jul 01 07:00:00 +0000 2012
1,がき３があった・・・・,510500657,_cha_m_,0,花礫の脇腹とシャツの狭間,Sun Jul 01 07:00:00 +0000 2012
2,よっし、入れた。今度使ってみよう,70912959,reku_AL,0,仙台県,Sun Jul 01 07:00:00 +0000 2012
3,Call me something with Italian in it and I'll...,150385990,fatimabedier,0,"Italy,Britian,California!",Sun Jul 01 07:00:00 +0000 2012
4,I don't think #Oomf will call,324247218,Princess_Lissss,0,NaN,Sun Jul 01 07:00:00 +0000 2012

In [ ]:
textValue = df1.text.values.tolist()
userIdValue = df1.id.values.tolist()
print(type(textValue[0]))
engText=[]
text=[]
for x in range (len(textValue)):
    if(len(str(textValue[x])) >=100):
        try:
            if (detect(str(textValue[x]))=="en"):
                text=[textValue[x], int(userIdValue[x])]
                engText.append(text)
        except:
            pass
print(engText[0:4])

<class 'str'>